<% provide(:title, t("contact.title")) %>
<h1><%= t("contact.title") %></h1>
<p>
  <%= t("contact.content") %>
  <%= link_to t("contact.name_page"), "https://www.railstutorial.org/contact" %>
</p>
